<ion-content [fullscreen]="true" scroll-y="false">
  <section>
    <img src="../../assets/logo.png" alt="" />
  </section>
    <p class="titulo">
      <span class="asistencia">ASISTENCIA</span>
      <span class="social">SOCIAL</span>
    </p>
    <span class="subtitulo">Visitin security</span>
<main>
  <div class="input">
    <p class="label">Email</p>
    <ion-input [(ngModel)]="email" fill="outline" type="email" class="custom">
    </ion-input>

  </div>

  <div class="input">
    <p class="label">Contraseña</p>
    <ion-input [(ngModel)]="password" fill="outline" [type]="mostrar ? 'password' : 'text'" class="custom">
      <ion-buttons slot="end">
        <ion-button (click)="mostrarContrasena()">
          <ion-icon
            color="medium"
            slot="icon-only"
            [name]="mostrar ? 'eye-outline' : 'eye-off-outline'"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-input>
  </div>

  <div class="checkbox">
    <ion-checkbox labelPlacement="end"><ion-text color="medium">Recordar contraseña</ion-text></ion-checkbox>
  </div>

</main>
  

  <ion-button
    (click)="login()"
    expand="block"
    fill="solid"
    class="ion-text-capitalize boton"
  >
    Iniciar sesion
  </ion-button>

  <a href="" class="enlace_olvidar">
    <ion-text color="medium">¿Olvidaste tu contraseña?</ion-text>
  </a>
</ion-content>
