
.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0px 20px;
}
.atras-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff;
}

.atras-img:hover{
    background-color: #e6e6f2;
    border: 1px solid #b8b8b8;
}

img{
    width: 50px;
    cursor: pointer;
}

h2{
    font-weight: 700;
}

.unread-indicator {
    background: var(--ion-color-primary);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    inset-inline-start: 12px;
    top: 12px;
  }
  
  .metadata-end-wrapper {
    position: absolute;
    top: 10px;
    inset-inline-end: 10px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
  }
  ion-label strong {
    display: block;
    max-width: calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  ion-label ion-note {
    font-size: 0.9rem;
  }
  .completado{
    padding: 3px 8px;
    background-color: #d9dff8;
    border-radius: 6px;
    color: #4260DB;
    font-weight: 700;
    font-size: .8rem;
    width: 89px;
  }

  .en-proceso{
    padding: 3px 8px;
    background-color: #cbd2ed;
    border-radius: 6px;
    color: #575757;
    font-weight: 700;
    font-size: .8rem;
    width: 89px;
  }

  .pendiente{
    padding: 3px 8px;
    background-color: #ffb6b1;
    border-radius: 6px;
    color: #ff3a3a; 
    font-weight: 700;
    font-size: .8rem;
    width: 89px;
  }
  .estado{
    text-align: center;
  }

  .titulos{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
  }
  ion-item{
    --inner-padding-end: 0;

  }
  